### Base de Dados Covid 19 - Pandemic - Worldwide

Fonte: https://public.opendatasoft.com/explore/dataset/covid-19-pandemic-worldwide-data/information/?disjunctive.zone&disjunctive.category

In [27]:
# Imports para manipulação de dados
import numpy as np
import pandas as pd

# Imports para visualização de dados
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [15]:
dados = pd.read_csv('./dataset/covid-19-pandemic-worldwide-data.csv', sep=';')

In [16]:
dados.head()

      Zone Sub Zone   Category        Date  Count          Location
0  Eritrea      NaN  Confirmed  2022-01-26   9408  15.1794, 39.7823
1  Eritrea      NaN  Confirmed  2022-04-22   9734  15.1794, 39.7823
2  Eritrea      NaN  Confirmed  2022-05-15   9745  15.1794, 39.7823
3  Eritrea      NaN  Confirmed  2022-05-24   9755  15.1794, 39.7823
4  Eritrea      NaN  Confirmed  2022-06-12   9771  15.1794, 39.7823

In [18]:
dados.shape

(973836, 6)

In [19]:
dados.dtypes

Zone        object
Sub Zone    object
Category    object
Date        object
Count        int64
Location    object
dtype: object

In [20]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 973836 entries, 0 to 973835
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Zone      973836 non-null  object
 1   Sub Zone  293751 non-null  object
 2   Category  973836 non-null  object
 3   Date      973836 non-null  object
 4   Count     973836 non-null  int64
 5   Location  968121 non-null  object
dtypes: int64(1), object(5)
memory usage: 44.6+ MB